src/*.exe
src/Cypherfunk
src/Cypherfunkd
src/test_Cypherfunk
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.Cypherfunk

# Compilation and Qt preprocessor part
*.qm
Makefile
Cypherfunk-qt
Cypherfunk-Qt.app

# Unit-tests
Makefile.test
Cypherfunk-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
